<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suite">

    <test name="TestNG Practice">

        <parameter name="environment" value="qa"/>


        <classes>
            <class name="com.shreya.tests.TestNGPractice"/>
        </classes>

    </test>

</suite>